/*.select2-selection__choice{*/
/*    background-color: #1b2d1f;*/
/*}*/

.image_detail{
    width: 100%;
    object-fit: cover;
}

.container_image_detail{
    margin-top: 20px;
}

.feature_image{
    width: 100%;
    object-fit: cover;
}

.container_feature_image{
    margin-top: 20px;
}
