.thumbnail_image_size{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.feature_image{
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin-top: 20px;
    object-fit: cover;
}
